.contenedor-carrusel{
    color: white;
    margin: 20px 20px 20px;
    padding: 10px;
    border: 1px solid #1d1f22;
    border-radius: 5px;
    background-color: #212529;
}

.mySlidesxGenero {
  display: none
}

.visible {
    display: block;
}

.oculto {
    display: none;
}

.media-img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  min-width: 100px;
  min-height: 100px;
  object-fit: cover;
  border-radius: 25px;
}

.img-zoom {
  transition: transform .2s;
  cursor: pointer;
}

.img-zoom:hover {
  transform: scale(1.01);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.d-flex {
  display: flex;
}

.contenedor-img{
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: end;
}

.contenedor-info{
  width: 70%;
}


/* Título */
.titulo {
  color: #f2f2f2;
  font-size: 2.2vw;
  font-weight: bolder;
  padding-left: 12px;
  width: 100%;
  text-align: left;
}

/* Sinopsis */
.sinopsis {
  color: #f2f2f2;
  font-size: 1.2vw;
  padding-left: 12px;
  width: 100%;
  text-align: left;
}

/* Tipo de contenido */
.tipo {
  color: #f2f2f2;
  font-size: 1vw;
  font-weight: bolder;
  margin-top: 20px;
  padding-left: 12px;
  width: 100%;
  text-align: left;
}

.btn-ver{
  margin-top: 20px;
  margin-left: 12px;
  background-color:#82bcca;
	border-radius:5px;
	border:1px solid #2e4679;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn-ver:hover {
	background-color:#4b8aa5;
}
.btn-ver:active {
	position:relative;
	top:1px;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


/* Hover cortina  */
.containerHover {
  position: relative;
  display: flex;
  justify-content: center;

  
}

.overlayHover {
  position: absolute;
  bottom: 0;
  background-color: #000000;
  overflow: hidden;
  border-radius: 25px;
  width:100%;
  height: 0;
  transition: .5s ease;
  opacity:92%;
  min-height: 0%;
}

.contenedor-img:hover .overlayHover {
  height: 100%;
  cursor: pointer;
}

.textHover {
  color: white;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left:35%;
  text-align: center;
}
.tituloHover,.sinopsisHover{
  width: 150%;
  text-align:center;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}