.parent {
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #212529;
    margin-bottom: 1%;
    box-shadow: 2px 5px 5px 0px rgba(46,70,121,0.75);
    }

a{
    text-decoration: none;
    color: whitesmoke;
    transition: all .5s ease;
}

.logoHeader{
    width: 85%;
    height: 100%;
}

a:hover{
    color: aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid aquamarine;
}

.inicio-Peliculas-Series{
    display: flex;
    justify-content: space-evenly;
    padding-right: 70%;
}

.separarInicio{
    padding-left: 10%;
    transition: all .5s ease;

}

.separarInicio:hover{
    scale: 1.1;
}

.buscador-Ingresar{
    display: flex;
    justify-content: space-evenly;
    padding-left: 30%;
}

.tamanioHeader{
    font-size: 1.8vw;
}

.btnIngresar{
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 15px;
    background-color:#82bcca;
      border-radius:5px;
      border:1px solid #2e4679;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-size:15px;
      font-weight:bold;
      padding:10px 30px;
      text-decoration:none;
      text-shadow:0px -1px 0px #5b6178;
}

.btnIngresar:hover {
	background-color:#4b8aa5;
}

.btnIngresar:active {
	position:relative;
	top:2px;
}

