.titulo-texto-buscar{
    color: whitesmoke;
    font-size: 1.5rem;
}

.contiene-buscador{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.contiene-input{
    display: flex;
    gap: 10px;
}

.texto-buscar{
    height: 1.5rem;
    width: 300px;
    border-radius: 15px;    
}
.seleccion{
    height: 1.8rem;
    width: 200px;
    border-radius: 15px;
}
.button-lupa-refresh{
    background-color: transparent;
    border: 1px solid #000; 
    color: #000; 
    cursor: pointer;
}

/* PANTALLAS MOBILES */
@media screen and (max-width: 400px) {
    .contiene-buscador{
        display: flex;
        flex-direction: column;
        }
    .contiene-input{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .titulo-texto-buscar{
        font-size: 20px;
        margin: 5px;
    }
    .iconos-flex{
        display: flex;
        justify-content: center;
    }
}

